{% extends "reviews/base.html" %}
{% load static %}

{% block title %}Review{% endblock %}

{% block content %}
 <h1>Review Details</h1>

 <p><strong>User Name:</strong> {{ review.user_name }}</p>
 <p><strong>Rating:</strong> {{ review.rating }}</p>
 <p><strong>Review Text:</strong> {{ review.review_text }}</p>

  {{is_favorite}}

{% if is_favorite %}
    <p><em>This is your favorite review!</em></p>
    {% else %}

 <form  action="/reviews/favorite" method="POST">
    {% csrf_token %}
    <input type="hidden" name="review_id" value="{{ review.id }}">
   <button>Favorite</button>
</form>
{% endif %}
{% endblock %}