<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile List</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endcomment %}
</head>
<body>
    <header>
        <h1>Profile List</h1>
    </header>
    <main>

        <ul>
            {% for profile in profiles %}
                <li>
                    <img src="{{ profile.image.url }}" alt="Profile Image" width="100" height="100">
                    <h2>{{ profile.name }}</h2>
                    <p>{{ profile.bio }}</p>
                </li>
            {% empty %}
                <li>No profiles available.</li>
            {% endfor %}
        </ul>
    </main>
    <footer>
        <p>&copy; 2023 My Blog Django</p>
    </footer>
</body>
</html>